<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UnitTests.Properties.Settings.ScoreKeeperConnectionString"
            connectionString="Data Source=USER-PC;Initial Catalog=ScoreKeeper;Persist Security Info=True;User ID=dev"
            providerName="System.Data.SqlClient" />
        <add name="UnitTests.Properties.Settings.ScoreKeeperConnectionString1"
            connectionString="Data Source=USER-PC;Initial Catalog=ScoreKeeper;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>