<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <!--
    <component
      id="NHibernateSessionManager"
      type="Factile.Repository.NHibernateSessionManager, Factile.Repository"
      service="Factile.Repository.INHibernateSessionManager, Factile.Repository"/>

    <component
      id="SessionManager"
      type="Factile.Repository.NHibernateSessionManager, Factile.Repository"
      service="Factile.Repository.ISessionManager, Factile.Repository"/>

    <component
      id="TopicRepository"
      type="Factile.Repository.TopicRepository, Factile.Repository"
      service="Factile.Repository.ITopicRepository, Factile.Repository">
      <parameters>
        TopicRepository
        <nhibernateSessionManager>${NHibernateSessionManager}</nhibernateSessionManager>
      </parameters>
    </component>-->
    </components>
</configuration>